<%- include('./layouts/header.ejs')%>
<%- include('./layouts/navbar.ejs')%>

    <!-- Start Hero -->
    <section class="relative lg:pb-24 pb-16 md:mt-[84px] mt-[70px]">
        <div class="md:container container-fluid relative">
            <div
                class="relative overflow-hidden md:rounded-md shadow dark:shadow-gray-700 h-52 bg-[url('../../assets/images/hero/pages.html')] bg-center bg-no-repeat bg-cover">
            </div>
        </div><!--end container-->

        <div class="container relative md:mt-24 mt-16">
            <div class="md:flex">
                <div class="lg:w-1/4 md:w-1/3 md:px-3">
                    <div class="relative md:-mt-48 -mt-32">
                        <div class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900">
                            <div class="profile-pic text-center mb-5">
                                <input id="pro-img" name="profile-image" type="file" class="hidden"
                                    onchange="loadFile(event)" />
                                <div>
                                    <div class="relative h-28 w-28 mx-auto">
                                        <img src="images/userDP/dp.png"
                                            class="rounded-full shadow dark:shadow-gray-800 ring-4 ring-slate-50 dark:ring-slate-800"
                                            id="profile-image" alt="">
                                        <label class="absolute inset-0 cursor-pointer" for="pro-img"></label>
                                    </div>

                                    <div class="mt-4">
                                        <h5 class="text-lg font-semibold">
                                            <%=user.name%>
                                        </h5>
                                        <p class="text-slate-400">
                                            <%=user.email%>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="border-t border-gray-100 dark:border-gray-700">
                                <ul class="list-none sidebar-nav mb-0 pb-0" id="navmenu-nav">
                                    <li class="navbar-item account-menu">
                                        <a href="/account"
                                            class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="airplay" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Account</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="/personal_details" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="user" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Personal Details</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="#" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0 text-orange-500"><i data-feather="map-pin"
                                                    class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium text-orange-500">Address</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="/password" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="key" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Change password</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="/user_logout"
                                            class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="log-out" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Sign Out</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:w-3/4 md:w-2/3 md:px-3 mt-6 md:mt-0">
                    <a href="/add_address">
                        <button class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-orange-500 text-white rounded-md mt-5">
                            Add Address
                        </button>
                    </a>
                    

                    <%for(let i=0 ;i < address.length; i++){%>
                        <div class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 mt-5">
                            <!-- <h6 class="text-slate-400 mb-0">The following addresses will be used on the checkout page by default.</h6> -->
                            <div class="grid lg:grid-cols-1 grid-cols-1 gap-6 mt-6">
                                <div class="">
                                    <div class="flex items-center mb-4 justify-between">
                                        <h5 class="text-xl font-medium">Shiping Address:</h5>
                                        <a href="/edit_address?id=<%=address[i]._id%>"
                                            class="text-orange-500 text-lg"><i data-feather="edit"
                                                class="size-4"></i>
                                        </a>
                                    </div>
                                    <div class="pt-4 border-t border-gray-100 dark:border-gray-700">
                                        <p class="text-lg font-medium mb-2">
                                            <%=address[i].name%>
                                        </p>

                                        <ul class="list-none">
                                            <li class="flex">
                                                <i data-feather="map-pin" class="size-4 me-2 mt-1"></i>
                                                <p class="text-slate-400">
                                                    <%=address[i].add1%>, <%=address[i].add2%> <br>
                                                            <%=address[i].landmark%>, <%=address[i].city%> <br>
                                                                    <%=address[i].pincode%>
                                                </p>
                                            </li>

                                            <li class="flex mt-1">
                                                <i data-feather="phone" class="size-4 me-2 mt-1"></i>
                                                <p class="text-slate-400">+91 <%=address[i].phone%>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%}%>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End Hero -->

<%- include('./layouts/footer.ejs')%>