<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">

<!-- Mirrored from shreethemes.in/cartzio/layouts/user-billing.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 26 Jan 2024 16:18:08 GMT -->

<head>
    <meta charset="UTF-8">
    <title>Alpha E-com: Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Fashion Store eCommerce Tailwind CSS Landing Template" name="description">
    <meta content="Shop, Fashion, eCommerce, Cart, Shop Cart, tailwind css, Admin, Landing" name="keywords">
    <meta name="author" content="Shreethemes">
    <meta name="website" content="https://shreethemes.in/">
    <meta name="email" content="support@shreethemes.in">
    <meta name="version" content="1.0.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Css -->
    <!-- Main Css -->
    <link href="assets/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href="assets/css/tailwind.min.css" rel="stylesheet" type="text/css">

</head>

<body class="dark:bg-slate-900">
    <!-- Loader Start -->
    <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
    <!-- Loader End -->
    <style>
        ::-webkit-scrollbar {
            display: none;
        }
    </style>

    <!-- Start Navbar -->
    <nav id="topnav" class="defaultscroll is-sticky">
        <div class="container relative">
            <!-- Logo container-->
            <a class="logo" href="index.html">
                <div>
                    <img src="assets/images/logo-dark.png" class="h-[40px] inline-block dark:hidden" alt="">
                    <img src="assets/images/logo-white.png" class="h-[40px] hidden dark:inline-block" alt="">
                </div>
            </a>
            <!-- End Logo container-->

            <!-- Start Mobile Toggle -->
            <div class="menu-extras">
                <div class="menu-item">
                    <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End Mobile Toggle -->

            <!--Login button Start-->
            <ul class="buy-button list-none mb-0">
                <li class="dropdown inline-block relative pe-1">
                    <button data-dropdown-toggle="dropdown" class="dropdown-toggle align-middle inline-flex"
                        type="button">
                        <i data-feather="search" class="size-5"></i>
                    </button>
                    <!-- Dropdown menu -->
                    <div class="dropdown-menu absolute overflow-hidden end-0 m-0 mt-5 z-10 md:w-52 w-48 rounded-md bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 hidden"
                        onclick="event.stopPropagation();">
                        <div class="relative">
                            <i data-feather="search" class="absolute size-4 top-[9px] end-3"></i>
                            <input type="text" class="h-9 px-3 pe-10 w-full border-0 focus:ring-0 outline-none" name="s"
                                id="searchItem" placeholder="Search...">
                        </div>
                    </div>
                </li>

                <li class="dropdown inline-block relative ps-0.5">
                    <button data-dropdown-toggle="dropdown"
                        class="dropdown-toggle size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-orange-500 border border-orange-500 text-white"
                        type="button">
                        <i data-feather="shopping-cart" class="h-4 w-4"></i>
                    </button>
                    <!-- Dropdown menu -->
                    <!-- <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-64 rounded-md bg-white dark:bg-slate-900 shadow dark:shadow-gray-800 hidden" onclick="event.stopPropagation();">
                            <ul class="py-3 text-start" aria-labelledby="dropdownDefault">
                                <li>
                                    <a href="#" class="flex items-center justify-between py-1.5 px-4">
                                        <span class="flex items-center">
                                            <img src="assets/images/shop/trendy-shirt.jpg" class="rounded shadow dark:shadow-gray-800 w-9" alt="">
                                            <span class="ms-3">
                                                <span class="block font-semibold">T-shirt (M)</span>
                                                <span class="block text-sm text-slate-400">$320 X 2</span>
                                            </span>
                                        </span>

                                        <span class="font-semibold">$640</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="flex items-center justify-between py-1.5 px-4">
                                        <span class="flex items-center">
                                            <img src="assets/images/shop/luxurious-bag2.jpg" class="rounded shadow dark:shadow-gray-800 w-9" alt="">
                                            <span class="ms-3">
                                                <span class="block font-semibold">Bag</span>
                                                <span class="block text-sm text-slate-400">$50 X 5</span>
                                            </span>
                                        </span>

                                        <span class="font-semibold">$250</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="flex items-center justify-between py-1.5 px-4">
                                        <span class="flex items-center">
                                            <img src="assets/images/shop/apple-smart-watch.jpg" class="rounded shadow dark:shadow-gray-800 w-9" alt="">
                                            <span class="ms-3">
                                                <span class="block font-semibold">Watch (Men)</span>
                                                <span class="block text-sm text-slate-400">$800 X 1</span>
                                            </span>
                                        </span>

                                        <span class="font-semibold">$800</span>
                                    </a>
                                </li>

                                <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>

                                <li class="flex items-center justify-between py-1.5 px-4">
                                    <h6 class="font-semibold mb-0">Total($):</h6>
                                    <h6 class="font-semibold mb-0">$1690</h6>
                                </li>

                                <li class="py-1.5 px-4">
                                    <span class="text-center block">
                                        <a href="javascript:void(0)" class="py-[5px] px-4 inline-block font-semibold tracking-wide align-middle duration-500 text-sm text-center rounded-md bg-orange-500 border border-orange-500 text-white">View Cart</a>
                                        <a href="javascript:void(0)" class="py-[5px] px-4 inline-block font-semibold tracking-wide align-middle duration-500 text-sm text-center rounded-md bg-orange-500 border border-orange-500 text-white">Checkout</a>
                                    </span>
                                    <p class="text-sm text-slate-400 mt-1">*T&C Apply</p>
                                </li>
                            </ul>
                        </div> -->
                </li>

                <li class="inline-block ps-0.5">
                    <a href="javascript:void(0)"
                        class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-orange-500 text-white">
                        <i data-feather="heart" class="h-4 w-4"></i>
                    </a>
                </li>

                <li class="dropdown inline-block relative ps-0.5">
                    <button data-dropdown-toggle="dropdown" class="dropdown-toggle items-center" type="button">
                        <span
                            class="size-9 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full border border-orange-500 bg-orange-500 text-white"><img
                                src="assets/images/client/16.jpg" class="rounded-full" alt=""></span>
                    </button>
                    <!-- Dropdown menu -->
                    <div class="dropdown-menu absolute end-0 m-0 mt-4 z-10 w-48 rounded-md overflow-hidden bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 hidden"
                        onclick="event.stopPropagation();">
                        <ul class="py-2 text-start">
                            <li>
                                <p class="text-slate-400 pt-2 px-4">Welcome Jesus!</p>
                            </li>
                            <!-- <li>
                                    <p class="flex items-center font-medium py-2 px-4"><i data-feather="dollar-sign" class="h-4 w-4 me-2"></i> Balance: <span class="text-orange-500 ms-2">$ 245.10</span></p>
                                </li> -->
                            <li>
                                <a href="user-account.html"
                                    class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white"><i
                                        data-feather="user" class="h-4 w-4 me-2"></i>Account</a>
                            </li>
                            <!-- <li>
                                    <a href="helpcenter.html" class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white"><i data-feather="help-circle" class="h-4 w-4 me-2"></i>Helpcenter</a>
                                </li> -->
                            <!-- <li>
                                <a href="user-setting.html"
                                    class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white"><i
                                        data-feather="settings" class="h-4 w-4 me-2"></i>Settings</a>
                            </li> -->
                            <li class="border-t border-gray-100 dark:border-gray-800 my-2"></li>
                            <li>
                                <a href="/user_logout"
                                    class="flex items-center font-medium py-2 px-4 dark:text-white/70 hover:text-orange-500 dark:hover:text-white"><i
                                        data-feather="log-out" class="h-4 w-4 me-2"></i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </li><!--end dropdown-->
            </ul>
            <!--Login button End-->


        </div><!--end container-->
    </nav><!--end header-->
    <!-- End Navbar -->

    <!-- Start Hero -->
    <section class="relative lg:pb-24 pb-16 md:mt-[84px] mt-[70px]">
        <div class="md:container container-fluid relative">
            <div
                class="relative overflow-hidden md:rounded-md shadow dark:shadow-gray-700 h-52 bg-[url('../../assets/images/hero/pages.html')] bg-center bg-no-repeat bg-cover">
            </div>
        </div><!--end container-->

        <div class="container relative md:mt-24 mt-16">
            <div class="md:flex">
                <div class="lg:w-1/4 md:w-1/3 md:px-3">
                    <div class="relative md:-mt-48 -mt-32">
                        <div class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900">
                            <div class="profile-pic text-center mb-5">
                                <input id="pro-img" name="profile-image" type="file" class="hidden"
                                    onchange="loadFile(event)" />
                                <div>
                                    <div class="relative h-28 w-28 mx-auto">
                                        <img src="assets/images/client/16.jpg"
                                            class="rounded-full shadow dark:shadow-gray-800 ring-4 ring-slate-50 dark:ring-slate-800"
                                            id="profile-image" alt="">
                                        <label class="absolute inset-0 cursor-pointer" for="pro-img"></label>
                                    </div>

                                    <div class="mt-4">
                                        <h5 class="text-lg font-semibold">Jesus Zamora</h5>
                                        <p class="text-slate-400">jesus@hotmail.com</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border-t border-gray-100 dark:border-gray-700">
                                <ul class="list-none sidebar-nav mb-0 pb-0" id="navmenu-nav">
                                    <li class="navbar-item account-menu">
                                        <a href="/account" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="airplay" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Account</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="/personal_details" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="user" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Personal Details</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="#" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0 text-orange-500"><i data-feather="edit" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium text-orange-500">Address</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="/password" class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="key" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Change password</h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu">
                                        <a href="/user_logout"
                                            class="navbar-link text-slate-400 flex items-center py-2 rounded">
                                            <span class="me-2 mb-0"><i data-feather="log-out" class="size-4"></i></span>
                                            <h6 class="mb-0 font-medium">Sign Out</h6>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lg:w-3/4 md:w-2/3 md:px-3 mt-6 md:mt-0">
                    <div class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900">
                        <h5 class="text-lg font-semibold mb-4">Add a new address</h5>
                        <form method="post" action="#" name="address" onsubmit="return formValidator()">
                            <div class="grid lg:grid-cols-2 grid-cols-1 gap-5">
                                <div>
                                    <label class="form-label font-medium">Full Name<span
                                            class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="user" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="text"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="First Name:" id="firstname"
                                            <%if(typeof address.name !== 'undefined'){%>
                                                value="<%=address.name%>"
                                            <%}%>
                                            name="name" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label font-medium">Mobile Number<span
                                            class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="phone" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="number"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="Mobile:" id="lastname"
                                            <%if(typeof address.phone !== 'undefined'){%>
                                                value="<%=address.phone%>"
                                            <%}%>
                                            name="mobile" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label font-medium">Flat, House no., Building, Company,
                                        Apartment<span class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="map-pin" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="text"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="Flat, House no., Building, Company, Apartment" name="add1"
                                            <%if(typeof address.add1 !== 'undefined'){%>
                                                value="<%=address.add1%>"
                                            <%}%>
                                            required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label font-medium">Area, Street, Sector, Village<span
                                            class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="map-pin" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="text"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="Area, Street, Sector, Village :"
                                            <%if(typeof address.add2 !== 'undefined'){%>
                                                value="<%=address.add2%>"
                                            <%}%>
                                            name="add2" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label font-medium">Landmark<span
                                            class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="map-pin" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="text"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="E.g. near apollo hospital"
                                            <%if(typeof address.landmark !== 'undefined'){%>
                                                value="<%=address.landmark%>"
                                            <%}%>
                                            name="landmark" required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label font-medium">Town/City<span
                                            class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="map-pin" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="text"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="Town/City :" name="city"
                                            <%if(typeof address.city !== 'undefined'){%>
                                                value="<%=address.city%>"
                                            <%}%>
                                            required="">
                                    </div>
                                </div>
                                <div>
                                    <label class="form-label font-medium">Pincode<span
                                            class="text-red-600">*</span></label>
                                    <div class="form-icon relative mt-2">
                                        <i data-feather="map-piny" class="w-4 h-4 absolute top-3 start-4"></i>
                                        <input type="number"
                                            class="ps-12 w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-100 dark:border-gray-800 focus:ring-0"
                                            placeholder="6 digits [0-9] PIN code"
                                            <%if(typeof address.pincode !== 'undefined'){%>
                                                value="<%=address.pincode%>"
                                            <%}%>
                                            name="pincode" required="">
                                    </div>
                                </div>
                            </div><!--end grid-->

                            <input type="submit" id="submit" name="send"
                                class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-orange-500 text-white rounded-md mt-5"
                                value="Add Address">
                        </form><!--end form-->
                    </div>
                </div>
            </div><!--end grid-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End Hero -->

    <!-- Footer Start -->
    <footer class="footer bg-dark-footer relative text-gray-200 dark:text-gray-200">
        <div class="container relative">
            <div class="grid grid-cols-12">
                <div class="col-span-12">
                    <div class="py-[60px] px-0">
                        <div class="grid md:grid-cols-12 grid-cols-1 gap-6">
                            <div class="lg:col-span-3 md:col-span-12">
                                <a href="#" class="text-[22px] focus:outline-none">
                                    <img src="assets/images/logo-light.png" alt="">
                                </a>
                                <p class="mt-6 text-gray-300">Upgrade your Gadgets with our curated sets.</p>
                                <ul class="list-none mt-6">
                                    <li class="inline"><a href="https://1.envato.market/cartzio" target="_blank"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="shopping-cart" class="h-4 w-4 align-middle"
                                                title="Buy Now"></i></a></li>
                                    <li class="inline"><a href="https://dribbble.com/shreethemes" target="_blank"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="dribbble" class="h-4 w-4 align-middle"
                                                title="dribbble"></i></a></li>
                                    <li class="inline"><a href="http://linkedin.com/company/shreethemes" target="_blank"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="linkedin" class="h-4 w-4 align-middle"
                                                title="Linkedin"></i></a></li>
                                    <li class="inline"><a href="https://www.facebook.com/shreethemes" target="_blank"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="facebook" class="h-4 w-4 align-middle"
                                                title="facebook"></i></a></li>
                                    <li class="inline"><a href="https://www.instagram.com/shreethemes/" target="_blank"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="instagram" class="h-4 w-4 align-middle"
                                                title="instagram"></i></a></li>
                                    <li class="inline"><a href="https://twitter.com/shreethemes" target="_blank"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="twitter" class="h-4 w-4 align-middle"
                                                title="twitter"></i></a></li>
                                    <li class="inline"><a href="mailto:support@shreethemes.in"
                                            class="size-8 inline-flex items-center justify-center tracking-wide align-middle text-base border border-gray-800 dark:border-slate-800 rounded-md hover:text-orange-500 dark:hover:text-orange-500 text-slate-300"><i
                                                data-feather="mail" class="h-4 w-4 align-middle" title="email"></i></a>
                                    </li>
                                </ul><!--end icon-->
                            </div><!--end col-->

                            <div class="lg:col-span-6 md:col-span-12">
                                <h5 class="tracking-[1px] text-gray-100 font-semibold">Shopping</h5>

                                <div class="grid md:grid-cols-12 grid-cols-1">
                                    <%for(let i=0 ;i<category.length&&2;i++){%>
                                        <div class="md:col-span-4">
                                            <ul class="list-none footer-list mt-6">
                                                <li><a href="#"
                                                        class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                            class="mdi mdi-chevron-right"></i>
                                                        <%=category[i].category_name%>
                                                    </a></li>
                                                <% category[i].sub_cat.forEach(subcategory=> { %>
                                                    <li class="mt-[10px]"><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i>
                                                            <%= subcategory.subCategory_name%>
                                                        </a></li>
                                                    <%});%>
                                            </ul>
                                        </div>
                                        <%}%>
                                            <!--end col-->

                                            <div class="md:col-span-4">
                                                <ul class="list-none footer-list mt-6">
                                                    <li><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i> My account </a></li>
                                                    <li class="mt-[10px]"><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i> Order History </a>
                                                    </li>
                                                    <li class="mt-[10px]"><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i> Wish List </a></li>
                                                    <li class="mt-[10px]"><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i> Newsletter</a></li>
                                                    <li class="mt-[10px]"><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i> Affiliate</a></li>
                                                    <li class="mt-[10px]"><a href="#"
                                                            class="text-gray-300 hover:text-gray-400 duration-500 ease-in-out"><i
                                                                class="mdi mdi-chevron-right"></i> Returns</a></li>
                                                </ul>
                                            </div><!--end col-->
                                </div>
                            </div>

                            <div class="lg:col-span-3 md:col-span-4">
                                <h5 class="tracking-[1px] text-gray-100 font-semibold">Newsletter</h5>
                                <p class="mt-6">Sign up and receive the latest tips via email.</p>
                                <form>
                                    <div class="grid grid-cols-1">
                                        <div class="my-3">
                                            <label class="form-label">Write your email <span
                                                    class="text-red-600">*</span></label>
                                            <div class="form-icon relative mt-2">
                                                <i data-feather="mail" class="size-4 absolute top-3 start-4"></i>
                                                <input type="email"
                                                    class="ps-12 rounded w-full py-2 px-3 h-10 bg-gray-800 border-0 text-gray-100 focus:shadow-none focus:ring-0 placeholder:text-gray-200 outline-none"
                                                    placeholder="Email" name="email" required="">
                                            </div>
                                        </div>

                                        <button type="submit" id="submitsubscribe" name="send"
                                            class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-orange-500 text-white rounded-md">Subscribe</button>
                                    </div>
                                </form>
                            </div><!--end col-->
                        </div><!--end grid-->
                    </div><!--end col-->
                </div>
            </div><!--end grid-->

            <div class="grid grid-cols-1">
                <div class="py-[30px] px-0 border-t border-slate-800">
                    <div class="grid lg:grid-cols-4 md:grid-cols-2">
                        <div class="flex items-center lg:justify-center">
                            <i class="mdi mdi-truck-check-outline align-middle text-lg mb-0 me-2"></i>
                            <h6 class="mb-0 font-medium">Free delivery</h6>
                        </div><!--end content-->

                        <div class="flex items-center lg:justify-center">
                            <i class="mdi mdi-archive align-middle text-lg mb-0 me-2"></i>
                            <h6 class="mb-0 font-medium">Non-contact shipping</h6>
                        </div><!--end content-->

                        <div class="flex items-center lg:justify-center">
                            <i class="mdi mdi-cash-multiple align-middle text-lg mb-0 me-2"></i>
                            <h6 class="mb-0 font-medium">Money-back quarantee</h6>
                        </div><!--end content-->

                        <div class="flex items-center lg:justify-center">
                            <i class="mdi mdi-shield-check align-middle text-lg mb-0 me-2"></i>
                            <h6 class="mb-0 font-medium">Secure payments</h6>
                        </div><!--end content-->
                    </div><!--end grid-->
                </div><!--end-->
            </div><!--end grid-->
        </div><!--end container-->

        <div class="py-[30px] px-0 border-t border-slate-800">
            <div class="container relative text-center">
                <div class="grid md:grid-cols-2 items-center">
                    <div class="md:text-start text-center">
                        <p class="mb-0">©
                            <script>document.write(new Date().getFullYear())</script> Alpha E-com.
                        </p>
                    </div>

                    <ul class="list-none md:text-end text-center mt-6 md:mt-0">
                        <li class="inline"><a href="#"><img src="assets/images/payments/american-express.jpg"
                                    class="max-h-6 rounded inline" title="American Express" alt=""></a></li>
                        <li class="inline"><a href="#"><img src="assets/images/payments/discover.jpg"
                                    class="max-h-6 rounded inline" title="Discover" alt=""></a></li>
                        <li class="inline"><a href="#"><img src="assets/images/payments/mastercard.jpg"
                                    class="max-h-6 rounded inline" title="Master Card" alt=""></a></li>
                        <li class="inline"><a href="#"><img src="assets/images/payments/paypal.jpg"
                                    class="max-h-6 rounded inline" title="Paypal" alt=""></a></li>
                        <li class="inline"><a href="#"><img src="assets/images/payments/visa.jpg"
                                    class="max-h-6 rounded inline" title="Visa" alt=""></a></li>
                    </ul>
                </div><!--end grid-->
            </div><!--end container-->
        </div>
    </footer><!--end footer-->
    <!-- Footer End -->

    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top"
        class="back-to-top fixed hidden text-lg rounded-full z-10 bottom-5 end-5 size-9 text-center bg-orange-500 text-white justify-center items-center"><i
            class="mdi mdi-arrow-up"></i></a>
    <!-- Back to top -->

    <!-- JAVASCRIPTS -->
    <script>
        function formValidator() {
            let name = document.address.name.value;
            let mobile = document.address.mobile.value;
            let add1 = document.address.add1.value;
            let add2 = document.address.add2.value;
            let landmark = document.address.landmark.value;
            let city = document.address.city.value;
            let pincode = document.address.pincode.value;
            if (name === null || name === "") {
                alert("Please enter a name...");
                return false;
            } else if (name.length < 3) {
                alert("Enter a vaild name...");
                return false;
            } else if (mobile.length !== 10) {
                alert("Please enter a phone number so we can call if there are any issues with delivery...");
                return false;
            } else if (add1 === null || add1 === "" || add1.length < 3) {
                alert("Please enter a Flat, House no., Building, Company, Apartment...");
                return false;
            } else if (add2 === null || add2 === "" || add2.length < 8) {
                alert("Please enter a Area, Street, Sector, Village...");
                return false;
            } else if (landmark === null || landmark === "") {
                alert("Please enter a Landmark...");
                return false;
            } else if (pincode.length < 6) {
                alert("Please enter a ZIP or postal code...");
                return false;
            } else if (city === null || city === "") {
                alert("Please enter a city name...");
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="assets/libs/feather-icons/feather.min.js"></script>
    <script src="assets/js/plugins.init.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- JAVASCRIPTS -->
</body>

</html>