<%- include('./layouts/header.ejs'); %>
<%- include('./layouts/navbar.ejs'); %>

    <!-- Start -->
    <section class="relative md:py-24 py-16">
        <div class="container relative">
            <div class="grid lg:grid-cols-12 md:grid-cols-2 grid-cols-1 gap-6 items-center">
                <div class="lg:col-span-5">
                    <div class="tiny-single-item">
                        <%for(let i=0 ; i<product.images.length;i++){%>
                            <div class="tiny-slide">
                                <div class="m-0.5">
                                    <img src="/userImages/<%=product.images[i]%>" class="shadow dark:shadow-gray-700"
                                        alt="">
                                </div>
                            </div>
                            <%}%>
                                <!--end content-->
                    </div><!--end tiny slider-->
                </div><!--end col-->

                <div class="lg:col-span-7">
                    <h5 class="text-2xl font-semibold">
                        <%=product.title%>
                    </h5>
                    <div class="mt-2">
                        <span class="text-slate-400 font-semibold me-1">₹<%if(typeof product.discount !=='undefined'){%>
                                <%let lastPrice=(product.price*100)/(100-product.discount)%>
                                    <%=Math.floor(lastPrice)%>
                                        <%}else{%>
                                            <%=product.price%>
                                                <%}%><del class="text-red-600">₹<%=product.price%></del></span>

                        <ul class="list-none inline-block text-orange-400">
                            <li class="inline"><i class="mdi mdi-star text-lg"></i></li>
                            <li class="inline"><i class="mdi mdi-star text-lg"></i></li>
                            <li class="inline"><i class="mdi mdi-star text-lg"></i></li>
                            <li class="inline"><i class="mdi mdi-star text-lg"></i></li>
                            <li class="inline"><i class="mdi mdi-star text-lg"></i></li>
                            <li class="inline text-slate-400 font-semibold">4.8 (45)</li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <h5 class="text-lg font-semibold">Description</h5>
                        <p class="text-slate-400 mt-2">
                            <%=product.description%>
                        </p>


                    </div>

                    

                    <div class="mt-4 space-x-1">
                        <a href="/buy_now?product_id=<%=product._id%>"
                            class="py-2 px-5 inline-block font-semibold tracking-wide align-middle text-base text-center bg-orange-500 text-white rounded-md mt-2">Shop
                            Now</a>
                        <a href="/addcart?product_id=<%=product._id%>"
                            class="py-2 px-5 inline-block font-semibold tracking-wide align-middle text-base text-center rounded-md bg-orange-500/5 hover:bg-orange-500 text-orange-500 hover:text-white mt-2">Add
                                to Cart</a>
                    </div>
                </div><!--end content-->
            </div><!--end grid-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- End -->

    <%- include('./layouts/footer.ejs'); %>
